USE [practice]
GO
/****** Object:  StoredProcedure [dbo].[EmpAdd]    Script Date: 7/14/2026 2:06:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[EmpAdd]
as begin
insert into employees values(107,'geetha',24);
end
exec EmpAdd;
exec GetEmployees;