USE [practice]
GO
/****** Object:  StoredProcedure [dbo].[Getemployees]    Script Date: 7/14/2026 2:00:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[Getemployees]
as begin 
select *from employees
select emp_name from employees;
end;

exec Getemployees;